@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--Light_gray);

    font-family: "Outfit", sans-serif;
}

.box {
    max-width: 320px;
    padding: 1rem;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

    text-align: center;
}

/*img*/
.box-img img {
    width: 100%;
    border-radius: 12px;
}

/*content*/
.box-text {
    padding: 1.2rem 0.8rem;
}
.box-text h1 {
    margin-bottom: 0.8rem;

    color: var(--Dark_blue);
    font-size: 1.4rem;
    font-weight: bold;
}
.box-text p {
    color: var(--Grayish_blue);
    font-size: 1rem;
}

/*responsive*/
@media (max-width: 360px) {
.box {
      width: 90%;
    }
.box-text h1 {
    font-size: 1.2rem;
}
}
